

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron {
	padding: 0px;
}

.jumbotron iframe {
	display: block;
}



.navbar {
	background-color: #fff;
	border-bottom: #eee 2px solid;
}



.navbar-toggle {
	display: none;
}




/* FORM VALIDATION */

.has-error .form-control,
.has-error .form-control,
input:focus:invalid,
textarea:focus:invalid{
	border:solid 2px #F5192F !important;
}

input:focus:valid,
textarea:focus:valid{
	border:solid 2px #18E109;
	background-color:#fff;
}
