body {
    /*background-color: lightblue;*/
    font-family: 'Noto Sans JP', sans-serif;
  }
/* dropdown hover */

.dropdown:hover>.men-mega-menu   {
    display: block;
    color: gray;
    border-bottom: 3px solid #c5c1f3;
    box-shadow: 0 3px #594ae4;

}
.dropdown:hover>.women-mega-menu   {
    display: block;
    color: gray;
    border-bottom: 2px solid #eef078;
    box-shadow: 0 2px #e5e91d;

}


/* search bar */

.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 2px solid #dadada;
    box-shadow: 0 2px #ce93d8;
    width: 300px;
    /* border: 2px solid #dadada;
    border-radius: 7px; */
}

.active-purple .fa,
.active-purple-2 .fa {
    color: #ce93d8;
    /* outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed; */
}


/* end of search bar */


/* maga menu */

.dropdown-menu {
    width: 400px;
    overflow: hidden;
    padding: 10px;
}

@media (max-width :500px) {
    .dropdown-menu {
        width: 250px;
    }
}


/* mega menu end*/

/*product details*/

.product-detail {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 45px 0;
}

.product-detail h1 {
  font-size: 40px padding:13px;
}

.product-detail-left {
  width: 100%;
}

.product-detail-right {
  width: 100%;
}

.product-detail-right h3 {
  font-size: 22px;
  padding-top: 0;
  line-height: 24px;
}


.product-detail-right .tax {
  margin-top: 0;
  font-size: 14px;
  color: #03a685;
  font-weight: 500;
  margin-bottom: 15px;
}

.product-detail-right p {
  font-size: 20px;
  color: gray;
}
.product-detail-right small {
  font-size: 17px;
  color: gray;
}

.product-detail .sp-wrap {
  max-width: 100%;
}

.product-detail-left img {
  max-width: inherit;
}


* social media icons */
.social-menu ul {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077B5;
}